.debug-info-body {
  padding: 20px;
  background-color: #efefef;
  height: 100vh;
}
.debug-info-body pre {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  height: 50vh;
  position: static;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 0px solid;
  box-shadow: inset 0px 1px 2px rgba(0,0,0,.15);
}
.debug-info-body textarea, .debug-info-body input {
  width: 100%;
  margin: 0px 0px 10px;
  border-radius: 5px;
}
.debug-info-body textarea {
  height: 40vh;
}
