<div ng-controller="ForgotPasswordController"  class="sign-up-overlay">
  <div id = "suaray-nav" ng-class="{ios: iOSStyles === true}">
    <div class="suaray-menu-btn">
      <span ng-click="showSignIn()" class="icon super-arrow-left-c"></span>
    </div>
    <div class = "suaray-menu-title">
      Forgot Password
    </div>
  </div>

  <div class ="sign-up-logo">
    <img src="/img/login-logo.png">
  </div>

  <div ng-show="page === 'reset-password'">
    <!-- Displays errors if form submitted without info -->
    <p class="signup-error" ng-repeat="error in errorList track by $index"><i class="fa fa-exclamation-circle fa-inverse"></i> {{error}}</p>

    <div class="forgot-reset-password">Reset Your Password</div>

    <div class="forgot-password-txt">Please enter your email address.<br/>We will send you an email for you to reset your password.</div>


    <form name="userForm" novalidate>

      <!-- Email input -->
      <div class="sign-up-fields">
        <div class="field-icon">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        </div>
        <input type="email" class="home-login form-control" placeholder="Email Address" id="email" name="email" ng-model="user.email" required ng-pattern="userValidation.email">
        <p ng-show="submitted && userForm.email.$error.required" class="sign-up-alert">Required Field</p>
        <p ng-show="userForm.email.$error.email" class="sign-up-alert">Enter a valid email.</p>
      </div>


      <div class="loading-login" ng-show="loading">
        <div class="login-loading"><i class="fa fa-spinner fa-lg fa-pulse fa-inverse"></i></div>
      </div>

      <div class="login-btn">
        <button ng-click="doResetPassword()" type="submit" class="btn btn-success btn-lg btn-block" ng-disabled="userForm.$invalid" ng-click="doCreateAccount()">RESET PASSWORD</button>
      </div>

    <div class="forgot-reset-password" ng-modal="emailCheck"></div>

    </form>
  </div>

  <!-- Confirmation Section -->

  <div ng-show="page === 'reset-confirmation'">


    <div class="forgot-reset-password-confirmation">Your Password reset link was sent to {{ user.email }} !<br/><br/>Check your email and follow the instructions to complete your password reset request.</div>


  </div>


</div>
