<div class="sign-up-overlay"  ng-controller="TermsController">
  <div id = "suaray-nav" ng-class="{ios: iOSStyles === true}">
    <div class = "suaray-menu-btn back-button">
      <span ng-click="showSignUp()" class="super-arrow-left-c"></span>
    </div>
    <div class = "suaray-menu-title">
      Terms and Conditions
    </div>
  </div>

  <div>
    <div class ="sign-up-logo">
      <img src="/img/login-logo.png">
    </div>

    <div class="card">
      <div class="item item-text-wrap">
      <h2>Terms and Conditions</h2>
      <hr>
      <p>Please read these Terms and Conditions carefully before using
      the SUARAY App operated by Shindiig, L.L.C.</p>

      <p>Your access to and use of SUARAY is conditioned on your acceptance of and compliance with
      these Terms. These Terms apply to all visitors, users and others who access or use SUARAY.
      By accessing or using SUARAY you agree to be bound by these Terms. If you disagree with any
      part of the terms then you may not access SUARAY.</p>

      <p>We may terminate or suspend access to SUARAY immediately, without prior notice or liability, for
      any reason whatsoever, including without limitation if you breach the Terms.
      All provisions of the Terms which by their nature should survive termination shall survive
      termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and
      limitations of liability.</p>
      </div>
    </div>

  </div>
</div>
